---
interface Props {
    class?: string;
}
---

<div
    class={`bg-[rgba(255,255,255,0.75)] border border-[rgba(209,213,219,0.3)] backdrop-blur-[2px] backdrop-saturate-[180%] rounded-[12px] transition-colors duration-300 dark:bg-[rgba(17,25,40,0.75)] dark:border-[rgba(255,255,255,0.125)] ${Astro.props.class ?? ""}`}
>
    <slot />
</div>
