---
interface Props {
    name: string;
}

const { name } = Astro.props;
---

<h2
    class="font-bold pb-10 text-4xl text-center transition-colors duration-300 text-black/80 tracking-wider dark:text-white"
>
    {name}
</h2>
