---
import type { SvgComponent } from "astro/types";

interface Props {
    href: string;
    label: string;
    Icon: SvgComponent;
    external?: boolean;
}

const { href, label, Icon, external } = Astro.props;
---

<a
    class="inline-block border-2 border-gray-800 px-2 py-1 rounded-sm hover:bg-gray-800 transition-colors duration-300 dark:border-white dark:hover:bg-white group"
    href={href}
    {...external && { target: "_blank", rel: "noopener noreferrer" }}
>
    <Icon
        class="inline-block align-middle size-4 fill-gray-800 group-hover:fill-white transition duration-300 dark:fill-white dark:group-hover:fill-gray-800"
    />
    <span
        class="align-middle inline-block ml-1 text-gray-800 group-hover:text-white transition-colors duration-300 dark:text-white dark:group-hover:text-gray-950"
        >{label}</span
    >
</a>
