---
import Moon from "@/assets/svg/dark-moon.svg";
import Sun from "@/assets/svg/light-sun.svg";
---

<button
    type="button"
    id="theme-button"
    aria-label="Button to change the theme of the page to dark or light"
    class="flex items-center justify-center relative px-2 py-1 cursor-pointer size-8 *:size-4 *:absolute *:transition *:duration-300 group"
>
    <Sun
        class="fill-gray-800 opacity-75 group-hover:opacity-100 group-hover:scale-125 dark:opacity-0"
        width="16"
        height="16"
    />

    <Moon
        class="fill-white opacity-0 dark:opacity-75 dark:group-hover:opacity-100 dark:group-hover:scale-125"
        width="16"
        height="16"
    />
</button>

<script is:inline>
    const THEME_KEY = "theme";
    const THEME_DATA_KEY = "data-theme";
    const THEMES = { dark: "dark", light: "light" };

    const documentElement = document.documentElement;
    const themeButton = document.querySelector("button#theme-button");

    const matchMedia = window.matchMedia("(prefers-color-scheme: dark)");

    const changeThemeTo = (value) => {
        if (value === "dark") {
            documentElement.setAttribute(THEME_DATA_KEY, value);
            localStorage.setItem(THEME_KEY, value);
        } else {
            documentElement.removeAttribute(THEME_DATA_KEY);
            localStorage.setItem(THEME_KEY, "light");
        }
    };

    const toggleTheme = () => {
        const theme = documentElement.getAttribute(THEME_DATA_KEY);
        const value = theme === "dark" ? "light" : "dark";
        changeThemeTo(value);
    };

    const loadTheme = () => {
        const theme = localStorage.getItem(THEME_KEY);
        if ((theme === null && matchMedia.matches) || theme === "dark") {
            changeThemeTo("dark");
        } else {
            changeThemeTo("light");
        }
    };

    themeButton.addEventListener("click", () => {
        toggleTheme();
    });

    loadTheme();
</script>
