---
import Education from "@/components/home/Education.astro";
import Experience from "@/components/home/Experience.astro";
import Hero from "@/components/home/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/home/Projects.astro";
import SectionContainer from "@/components/containers/SectionContainer.astro";
import Stacks from "@/components/home/Stacks.astro";
import TitleSection from "@/components/titles/TitleSection.astro";
import AboutMe from "@/components/home/AboutMe.astro";
---

<Layout
    title="Portfolio | Jesus Mendoza"
    description="Passionate FullStack Developer with expertise in backend, frontend, and DevOps. Skilled in JavaScript, React, Express, Java, Spring Boot, SQL, NoSQL and Docker."
>
    <main class="px-4 space-y-20">
        <SectionContainer id="home" className="pt-20">
            <Hero />
        </SectionContainer>

        <SectionContainer id="projects">
            <TitleSection name="Projects" />
            <Projects />
        </SectionContainer>

        <SectionContainer id="experience">
            <TitleSection name="Experience" />
            <Experience />
        </SectionContainer>

        <SectionContainer>
            <TitleSection name="Education" />
            <Education />
        </SectionContainer>

        <SectionContainer id="stacks">
            <TitleSection name="Stacks" />
            <Stacks />
        </SectionContainer>

        <SectionContainer id="about-me">
            <TitleSection name="About Me" />
            <AboutMe />
        </SectionContainer>
    </main>
</Layout>
