---
import TraslucentContainer from "../containers/TraslucentContainer.astro";
---

<footer class="mt-2 px-4 text-center">
    <div class="container mx-auto py-2">
        <TraslucentContainer>
            <blockquote class="block px-2 py-4">
                <p class="prose prose-invert max-w-none">
                    Science is what we understand well enough to explain to a
                    computer. Art is everything else we do.
                    <span>— Donald Knuth</span>
                </p>
            </blockquote>
        </TraslucentContainer>
    </div>
</footer>
