---
import TraslucentContainer from "../containers/TraslucentContainer.astro";
---

<footer class="container mx-auto px-2 py-2 mt-2 text-center">
    <TraslucentContainer>
        <blockquote class="inline-block px-2 py-4">
            <p class="prose prose-invert max-w-none">
                Science is what we understand well enough to explain to a
                computer. Art is everything else we do.
                <span>— Donald Knuth</span>
            </p>
        </blockquote>
    </TraslucentContainer>
</footer>
