<nav class="text-white">
    <div class="container px-2 py-4 mx-auto flex flex-row justify-between">
        <a href="/">JM</a>

        <ul>
            <li class="inline-block">
                <a class="px-2 py-2" href="/#">Home</a>
            </li>
            <li class="inline-block">
                <a class="px-2 py-2" href="/#projects">Projects</a>
            </li>
            <li class="inline-block">
                <a class="px-2 py-2" href="/#about-me">About me</a>
            </li>
            <li class="inline-block">
                <a class="px-2 py-2" href="/#contact">Contact me</a>
            </li>
        </ul>
    </div>
</nav>
