<header class="px-4 text-white">
    <nav class="container mx-auto py-2 flex flex-row justify-between">
        <a href="/">JM</a>

        <ul>
            <li class="inline-block">
                <a class="px-2 py-2" href="/#">Home</a>
            </li>
            <li class="inline-block">
                <a class="px-2 py-2" href="/#projects">Projects</a>
            </li>
            <li class="inline-block">
                <a class="px-2 py-2" href="/#about-me">About me</a>
            </li>
            <li class="inline-block">
                <a class="px-2 py-2" href="/#contact">Contact me</a>
            </li>
        </ul>
    </nav>
</header>
