---
import { SOCIAL_NETWORKS } from "@/constants/social-networks";
import LinkButton from "../buttons/LinkButton.astro";
---

<div class="space-y-3">
    <h1
        class="text-5xl font-bold text-gray-800 transition-colors duration-300 dark:text-white"
    >
        Hey, I'm <span class="text-sky-600">Jesus Mendoza</span>
    </h1>

    <h2 class="font-bold text-2xl text-sky-300 dark:text-sky-200">
        Fullstack Developer
    </h2>

    <p class="prose prose-xl dark:prose-invert">
        I'm a <b>FullStack Developer</b> with experience in different technologies,
        focused on developing efficient and scalable solutions. I have experience
        in <b>backend development</b> with Express, Laravel, and Spring Boot, SQL
        and NoSQL <b>databases</b>, <b>frontend development</b> with React, and infrastructure
        implementation with Docker.
    </p>

    <div class="space-x-3 space-y-3">
        {
            SOCIAL_NETWORKS.map(({ href, Icon, name }) => (
                <LinkButton
                    href={href}
                    label={name}
                    Icon={Icon}
                    external={true}
                />
            ))
        }
    </div>
</div>
