---
import { BACKEND, FRONTEND, OTHERS } from "../../constants/stacks";
import StackCard from "./StackCard.astro";
import StackCardContainer from "./StackCardContainer.astro";
---

<div>
    <StackCardContainer title="Frontend">
        {FRONTEND.map((stack) => <StackCard {...stack} />)}
    </StackCardContainer>

    <StackCardContainer title="Backend">
        {BACKEND.map((stack) => <StackCard {...stack} />)}
    </StackCardContainer>

    <StackCardContainer title="Others">
        {OTHERS.map((stack) => <StackCard {...stack} />)}
    </StackCardContainer>
</div>
