---
import Header from "./home/Header.astro";
import Projects from "./home/Projects.astro";
import Stacks from "./home/Stacks.astro";
---

<main>
    <Header />
    <Projects />
    <Stacks />
</main>
