---
import Education from "@/components/home/Education.astro";
import Experience from "@/components/home/Experience.astro";
import Hero from "@/components/home/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/home/Projects.astro";
import SectionContainer from "@/components/containers/SectionContainer.astro";
import Stacks from "@/components/home/Stacks.astro";
import TitleSection from "@/components/titles/TitleSection.astro";
import AboutMe from "@/components/home/AboutMe.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout
    lang={lang}
    title="Portfolio | Jesus Mendoza"
    description="FullStack Developer con experiencia en backend, frontend y DevOps. Especializado en JavaScript, React, Express, Java, Spring Boot, SQL, NoSQL y Docker."
>
    <main class="px-4 space-y-20">
        <SectionContainer id="home" className="pt-10 sm:pt-20">
            <Hero t={t} />
        </SectionContainer>

        <SectionContainer id="projects">
            <TitleSection name={t("section.projects")} />
            <Projects lang={lang} />
        </SectionContainer>

        <SectionContainer id="experience">
            <TitleSection name={t("section.experience")} />
            <Experience />
        </SectionContainer>

        <SectionContainer>
            <TitleSection name={t("section.education")} />
            <Education />
        </SectionContainer>

        <SectionContainer id="stacks">
            <TitleSection name={t("section.stacks")} />
            <Stacks />
        </SectionContainer>

        <SectionContainer id="about-me">
            <TitleSection name={t("section.about-me")} />
            <AboutMe t={t} />
        </SectionContainer>
    </main>
</Layout>
